torch==2.5.1
numpy==1.26.4
matplotlib==3.9.3
jupyter==1.1.1
notebook==7.3.2
ipykernel==6.29.5
datasets==3.2.0
tokenizers==0.21.0
transformers==4.47.1
accelerate==1.2.1
safetensors==0.4.5
tqdm==4.67.1
ruff==0.8.6
pytest==8.3.4
einops==0.8.0
wandb==0.19.1
